*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 2em;
}


.handdle-content{
    display: flex;
    min-height: 80vh;
    align-items: center;
    gap: 2em;
}
.about-haddle{
    line-height: 1.5em;
    margin-bottom: 2em;
}

.heading{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5em;
}

.register{
    padding: 1em 4em;
    border-radius: 2em;
    text-decoration: none;
}
.illustration{
    width: 100%;
}

.social-media{
    display: flex;
    justify-content: end;
    gap: 2em;
}
.social-media a i img{
    width: 40px;
}
.register-link{
    margin-bottom: 3em;
}
.haddle{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 50%;
}

.attribution{
    text-align: center;
}
.logo{
    margin-bottom: 1em;
}